html{
    font-size: 30px;
}

body{
    margin: 0;
    font-family:'Quattrocento', Helvetica;
}

nav#flex-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(189, 188, 191, .7);
}

nav a{
    background-color: rgb(199, 43, 70);
    border-radius: 30px;
    color: white;
    padding: 10px;
    margin: 1%;
    text-decoration: none;
    font-size: .8em;
}

a:hover{
    background-color: white;
    color: rgb(199, 43, 70);
}

header{
    background-image: url(sfondomhw1.jpg);
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    z-index: -2;
}
#overlay{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header h1{
    width: 780px;
    color: aliceblue;
    text-align: center;
}

article{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-weight:bold;
    margin-top: 60px;
    font-family: 'Ubuntu', Helvetica;
    font-weight: lighter;
    font-size: .8em;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#profilo{
    text-align: center;  
    font-size: .6em;    
    margin-bottom: 12px;
}

#profilo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: -50px;
}

em{
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    font-size: .5rem;
}

.contenuti{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.numeri{
    margin-right: 40px;
    font-size: 1.6em;
}

.titoli-paragrafi{
    font-weight: bold;
}

.titoli-paragrafi strong{
    font-size: 1.6rem;
}

.voto{
    color: lightskyblue;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-style: italic;
}

.paragrafo{
    width: 66.67%;
    font-size: .8em;
}

strong{
    font-weight: bolder;
}

.paragrafo .testo{
    margin-top: 20px;
    line-height: 1.2;
}

.paragrafo .aggettivo{
    margin-top: 20px;
    margin-bottom: 20px;
}

div.paragrafo img{
    width: 100%;
    margin-bottom: 60px;
}


@media(max-width: 500px){
    header{
        height: 250px;
    }

    nav a{
        padding: 7px;
    }

    html{
        font-size:  20px;
    }

    .numeri{
        margin-right: 20px;
    }

    footer{
        height: 50px;
    }    

    .paragrafo{
        width: 85%;
    }

}